extends layout

block content

  h1 #{title}: #{brand.name}

  if brand_items.length

    p #[strong Delete the following Items before attempting to delete this brand.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Items

      dl
      each item in brand_items
        dt
          a(href=item.url) #{item.name}

  else
    p Do you really want to delete this Brand?

    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=brand._id )

      button.btn.btn-primary(type='submit') Delete